<h3>{{book.title}}</h3>
<img *ngIf="book" [src]="book.coverImg" alt="cover"  />
<h1 *ngIf="user">{{user.name.title}} {{user.name.first}}</h1>
<img *ngIf="user" [src]="user.picture.thumbnail" alt="cover"  />
